doctype html
html
    head
        title Hetal Dance Academy
        block scripts
        block style
        script(src='/jquery.js')
    body
        nav#navbar
            ul
                div#logo
                    img(src="static/1.png")
            
                li #[a(href="/") Home]
                li #[a(href="/") About us]
                li #[a(href="/contact") Contact us]
                li #[a(href="/") Services]
                li #[a(href="/") class info]
        block content
        footer#footer 
            |copyright © 2023 HetalDanceAcademy.com | All right reserved